.homePage {
  margin-top: 2em;
}

.confirmation {
  margin-top: 2em;
}

.col-12 {
  text-align: center;
  margin-bottom: 2em;
}

.flatpickr i {
  /* justify-content: center;
  text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
}

::placeholder {
  text-align: center;
}
body{
  background-color: rgba(228, 128, 41, 0.125);
  background-color: #FFF1ED;
}

.row {
  display: flex;
}
.image{
  width: 20em;
  height: 20em;
  /* border-radius: 50%; */
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form{
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: row wrap; */
  justify-content: center;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 4px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #888888;}
table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #0D6EFD;
  color: white;
}