.homePage {
  margin-top: 2em;
}

.confirmation {
  margin-top: 2em;
}

.col-12 {
  text-align: center;
  margin-bottom: 2em;
}

div.flatpickr.form-control.input {
  width: 1px;
  display: flex;
  justify-content: center;
  padding: 1px 1px;
}

div.card-body {
  display: flex;
  justify-content: center;
}

.parent {
  background: #CCCCCC;
  height: 200px;
  width: 200px;
  position: relative;
}

.child {
  background: #FFFF00;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
}

/* end  */

::placeholder {
  text-align: center;
}

body {
  background-color: rgba(228, 128, 41, 0.125);
  background-color: #FFF1ED;
}

.form {
  display: flex;
  flex-direction: column;

}

.col-auto {
  margin-top: 0.3em;
}

.tag label {
  display: block;
}

.row {
  display: flex;
}

.image {
  width: 20em;
  height: 20em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 4px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #888888;
}

table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #0D6EFD;
  color: white;
}

#reason {
  height: 2em;
  width: 25em;
}

#lender {
  align-items: center;
  text-align: center;
}

.admin {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.min {
  margin-right: 0.3em;
}

.input {
  text-align: center;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* new  */

.parent{
  margin: 0px;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 600px) {
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  table td,
  table th {
    border: 1px solid #ddd;
    padding: 1px;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #888888;
  }

  table th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #0D6EFD;
    color: white;
  }

  #reason {
    height: 2em;
    width: 10em;
  }
}
